/* reset */
body,div,ul,ol,li,h1,h2,h3,h4,h5{
    margin:0;padding:0;
}

a{
    text-decoration:none;
}

body{
    background-color: #fafafa;
}

.wrap{
    width:350px;height:384px;
    background-color: #fff;
    margin:250px auto 0;
    border:2px solid #f1f1f1;
    border-radius:1px;
    box-sizing:border-box;
}
.wrap .auto{
   width:265px; margin:auto;
}
.wrap .logo h1{
    width:180px;height:54px;
    margin:40px auto;
    background-image:url(./LoginImage/logo_text.png);
    background-size:cover;
    text-indent:-9999px;
    box-sizing:border-box;
}
.wrap .logIn .inputWrap{
    width:265px;margin-top:7px;
}
.wrap .logIn .inputWrap input{
    width:100%;height:38px;
    text-indent:7px;
    font-size:12px;color:#222;
    border:1px solid #f1f1f1;
    border-radius:3px;
    background-color: #fafafa;
    box-sizing:border-box;
}
.wrap .auto button{
    width:100%;height:30px;
    margin-top:15px;
    color:#fff;border:none;
    border-radius:5px;
    font-size:14px;font-weight:bold;
    background-color:#277bca;
}

.wrap .auto button.btn{
    opacity:0.7;
}
.wrap .auto button.btn2{
    opacity:1;
}

.wrap .rePw{
    margin-top:80px;
}
.wrap .rePw a{
    display:block;
    font-size:12px; color:#4c7092;
    text-align:center;
}

